<ul>
  <li>Requests To Join This Circle</li>
    <% if !@users.empty? %>
      <% @users.each do |user| %>
        <li>
          <ul>
            <li><%= user.first_name %></li>
            <li>Level: <%= user.level %></li>
            <li>Rating: <%= user.rating %></li>

            <% gender = '' %>
            <% if user.gender == 1 %>
            <% gender = 'Female' %>
            <% elsif user.gender == 2 %>
            <% gender = 'Male' %>
            <% else %>
            <% gender = "None provided" %>
            <% end %>
            <li>Gender <%= gender %></li>
          </ul>
        </li>
      <% end %>
    <% else%>
      <%= "There are currently no requests to join this circle." %>
    <% end%>
</ul>

