<ul>
  <li>Requests To Join This Circle</li>
    <% if !@users.empty? %>
      <% @users.each do |user| %>
        <%= content_tag :li, id: user.id do %>
          <ul>
            <li><%= user.first_name %></li>
            <li>Level: <%= user.level %></li>
            <li>Rating: <%= user.rating %></li>

            <% gender = '' %>
            <% if user.gender == 1 %>
            <% gender = 'Female' %>
            <% elsif user.gender == 2 %>
            <% gender = 'Male' %>
            <% else %>
            <% gender = "None provided" %>
            <% end %>
            <li>Gender <%= gender %></li>

            <li><%= link_to("Accept/Reject Join Request", "javascript:void(0)", :class => 'btn btn-default btn-xs accept_join_req') %>
            <%= form_tag({:action => 'decide'}, {:method => 'post', :remote => true, :style =>'display:none'}) do %>
            <%= label_tag("Allow user to join circle?") %>
            <%= hidden_field_tag(:user_id, user.id) %>
            <%= hidden_field_tag(:circle_id, @circle_id) %>
            <%= submit_tag("Accept", :class => 'btn btn-default btn-xs')%>
            <%= submit_tag("Delete", :class => 'btn btn-default btn-xs') %>
            <%= content_tag :button, class: 'btn btn-default btn-xs cancel_join_req' do %>
             Cancel
            <% end %>
            <% end %>
          </li>

          </ul>
        <% end %>
      <% end %>
    <% else%>
      <%= "There are currently no requests to join this circle." %>
    <% end%>
</ul>

