<ul>
    <% @posts.each do |post| %>
    <li>
        <ul>
          <li><%= post.time %></li>
          <li><%= post.address %></li>
          <li>Pace: <%= post.pace %></li>
          <% gender_pref = "" %>
          <% if post.gender_pref == 0 %>
          <% gender_pref = "Mixed" %>
          <% elsif post.gender_pref == 1 %>
          <% gender_pref = "Women Only" %>
          <% else %>
          <% gender_pref = "Men Only" %>
          <% end %>
          <li><%= gender_pref %></li>
          <li><%= link_to("See post info", {:action => 'show', :method => 'get', :remote => true, :user_id => post.creator_id, :post_id => post.id}) %></li>
          <%= content_tag :ul, class: 'users_list', id: post.id do %>
          <% end %>
        </ul>
    </li>
    <% end %>
  </ul>
