<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>
<p>Browser Time Zone <%= Time.zone %> </p>
<p>Browser Time <%= Time.zone.now %> </p>
<p>Server Time Zone <%= Time.now.zone %> </p>
<p>Server Time <%= Time.now %> </p>
<p>Time to UTC <%= Time.zone.now.utc %></p>

<div id='filters'>
  <% gender = "" %>
  <% if @user.gender == 0 %>
    <% gender = "none" %>
  <% elsif @user.gender == 1 %>
    <% gender = "Women's" %>
  <% else %>
    <% gender = "Men's" %>
  <% end %>

  <%= form_tag(:action =>'display') do %>
  <%= select_tag(:radius, options_for_select([["1 mi", 1], ["5 mi", 5], ["10 mi",10], ["15 mi",15], ["20 mi",20]]) ) %>
  <%= select_tag(:gender_pref, options_for_select([["Mixed Gender Runs", 0], [ gender + " Runs", 1], ["Mixed and " + gender + " Runs",10]]) ) %>
  <%= select_tag(:pace, options_for_select([["All Levels", -1], [ "Military 6 min/mi ", 0], ["Advanced 6-7 min/mi",10], ["High Intermediate 7-8 min/mi", 2], ["Intermediate 8-9 min/mi", 3], ["Beginner 9-10 min/mi", 4], ["Jogger 10-11 min/mi", 5], ["Speedwalker 11-12 min/mi", 6 ], ["Sprints 12+ min/mi", 7] ]) ) %>
  <%= select_tag(:age,options_for_select([["Any age group", 0], [ "Your age group", 1]]) ) %> </br>
  <%= select_datetime Date.today, prefix: :start_date %> </br>
  <%= select_datetime Date.tomorrow, prefix: :end_date %>

  <% end %>
</div>

<ul>
  <% @posts.each do |post| %>
  <li>
      <ul>
        <li><%= post.time %></li>
        <li><%= post.address %></li>
        <li><%= post.max_runners %></li>
        <% gender_pref = "" %>
        <% if post.gender_pref == 0 %>
        <% gender_pref = "Mixed" %>
        <% elsif post.gender_pref == 1 %>
        <% gender_pref = "Women Only" %>
        <% else %>
        <% gender_pref = "Men Only" %>
        <% end %>
        <li><%= gender_pref %></li>
      </ul>
  </li>
<% end %>

</ul>

