<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>

<%= link_to "Sign in with Facebook", "auth/facebook", id: "fb_login" %>

<button type="button" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-heart"></span> Heart
</button>

<i class="fa fa-film"></i> fa-film

<p> Current time <%= DateTime.now.in_time_zone %> </p>
<p> Current time <%= Time.zone.now %> </p>

<p> Server Time Zone <%= Time.now.zone %> </p>
<p> Application Time Zone <%= Time.zone %> </p>
