<ul>
  <% admin_circles = [] %>
  <% @admin_circles.each do |circle| %>
  <% admin_circles << [circle.name, circle.id] %>
  <% end %>
  <% admin_circles.inspect %>

    <% @circles.each do |circle| %>
    <%= content_tag :li, id: circle.id do %>
        <ul>
          <li><%= circle.name %></li>
          <li><%= circle.city %></li>
          <% level_title = "" %>
          <% case circle.level %>
          <% when 0%>
          <% level_title = "All Levels" %>
          <% when 1 %>
          <% level_title = "Military: 6 min and under/mi" %>
          <% when 2 %>
          <% level_title = "Advanced: 6-7 min/mi" %>
          <% when 3 %>
          <% level_title = "High Intermediate: 7-8 min/mi" %>
          <% when 4 %>
          <% level_title = "Intermediate: 8-9 min/mi" %>
          <% when 5 %>
          <% level_title = "Beginner: 9-10 min/mi"%>
          <% when 6 %>
          <% level_title = "Jogger: 10-11 min/mi" %>
          <% when 7%>
          <% level_title = "Speedwalker: 11-12 min/mi"%>
          <% when 8 %>
          <% level_title = "Brisk Walk: 12+ min/mi"%>
          <% else %>
          <% level_title = "Error retrieving level" %>
          <% end %>

          <li>Level: <%= level_title %></li>
          <li>Description <%= circle.description %> mi</li>

          <li><%= link_to("Send Request to Join Circle", "javascript:void(0)", :class => 'btn btn-default btn-xs send_join_req') %></li>
          <li><%= link_to("Send Circle a Challenge", "javascript:void(0)", :class => 'btn btn-default btn-xs send_challenge') %>
            <%= form_tag({:controller => 'challenges', :action => 'create'}, {:method => 'post', :remote => true, :style =>'display:none'}) do %>
            <%=label_tag("Challenges feature not yet fully implemented!") %> </br>
            <%= label_tag("Circles You've Created") %>
            <%= select_tag(:circle_admin_select, options_for_select(admin_circles)) %>
            <%= hidden_field_tag(:circle_id, circle.id) %>
            <%= submit_tag("Send Challenge", :class => 'btn btn-default btn-xs')%>
            <% end %>
            <%= content_tag :li, class: 'challenge_send_confirm', style: 'display:none' do %>
            <% end %>

          </li>
          <!-- expand to show map -->
          <li>View Location</li>
          <div class='map'></div>
        </ul>
    </li>
    <% end %>
    <% end %>
  </ul>
